# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [5]:
-- Code here:
SELECT TOP 1 LEN(title), title FROM BooksDB.dbo.books
ORDER BY len(title) DESC;

(No column name),title
186,"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [8]:
-- Code here:
SELECT TOP 1 LEN(title) AS 'Length', title FROM BooksDB.dbo.books
ORDER BY len(title) ASC;

Length,title
2,It

3\. How many titles contain the word "The"?  

  

> A. Is there a difference between the number of titles that use "The" or "the"?

In [50]:
-- Code here:
SELECT count(title) FROM BooksDB.dbo.books
WHERE title LIKE '%The%'; 

SELECT COUNT(title) FROM BooksDB.dbo.books
WHERE title LIKE '%the%';

(No column name)
4702

(No column name)
4702

4.  How many authors' names _start_ with 'Z'?

In [14]:
-- Code here:
SELECT COUNT(authors) AS 'Authors Names Beginning with Z' FROM BooksDB.dbo.books
WHERE authors LIKE 'Z%';

Authors Names Beginning with Z
11

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [32]:
-- Code here:
SELECT COUNT(LEFT(language_code, 2)) FROM BooksDB.dbo.books
WHERE LEFT(language_code, 2) <> 'en';

(No column name)
186

6\. Retry question 5 using SUBSTRING.

In [39]:
-- Code here:
SELECT COUNT(SUBSTRING(language_code,1,3))
FROM BooksDB.dbo.books
WHERE  LEFT(language_code, 2) <> 'en';

(No column name)
186

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [68]:
-- Code here:
SELECT TOP 10 CONCAT(title, ' by ', authors, ' code: ', language_code) AS 'Title by Author code: Language Code' FROM BooksDB.dbo.books
WHERE language_code IS NULL;

Title by Author code: Language Code
Life of Pi by Yann Martel code:
The Five People You Meet in Heaven by Mitch Albom code:
A Christmas Carol by Charles Dickens code:
Carrie by Stephen King code:
"The Hunt for Red October (Jack Ryan Universe, #4) by Tom Clancy code:"
Where the Red Fern Grows by Wilson Rawls code:
Fried Green Tomatoes at the Whistle Stop Cafe by Fannie Flagg code:
The Three Musketeers by Alexandre Dumas code:
In Her Shoes by Jennifer Weiner code:
The Andromeda Strain by Michael Crichton code:

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [67]:
-- Code here:
SELECT TOP 10 CONCAT(title, ' by ', authors, ' code: ', COALESCE(language_code, 'unknown')) FROM BooksDB.dbo.books
WHERE language_code IS NULL;

(No column name)
Life of Pi by Yann Martel code: unknown
The Five People You Meet in Heaven by Mitch Albom code: unknown
A Christmas Carol by Charles Dickens code: unknown
Carrie by Stephen King code: unknown
"The Hunt for Red October (Jack Ryan Universe, #4) by Tom Clancy code: unknown"
Where the Red Fern Grows by Wilson Rawls code: unknown
Fried Green Tomatoes at the Whistle Stop Cafe by Fannie Flagg code: unknown
The Three Musketeers by Alexandre Dumas code: unknown
In Her Shoes by Jennifer Weiner code: unknown
The Andromeda Strain by Michael Crichton code: unknown

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [66]:
-- Code here:
SELECT TOP 10 CONCAT(title, ' by ', authors, ' code: ', ISNULL(language_code, 'unknown')) FROM BooksDB.dbo.books
WHERE language_code IS NULL;

(No column name)
Life of Pi by Yann Martel code: unknown
The Five People You Meet in Heaven by Mitch Albom code: unknown
A Christmas Carol by Charles Dickens code: unknown
Carrie by Stephen King code: unknown
"The Hunt for Red October (Jack Ryan Universe, #4) by Tom Clancy code: unknown"
Where the Red Fern Grows by Wilson Rawls code: unknown
Fried Green Tomatoes at the Whistle Stop Cafe by Fannie Flagg code: unknown
The Three Musketeers by Alexandre Dumas code: unknown
In Her Shoes by Jennifer Weiner code: unknown
The Andromeda Strain by Michael Crichton code: unknown